.existing-model-selection-wrapper{
  align-items: center;
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.existing-model-selection{
  border: #fff dashed 2px;
  width: 15%;
  height: 150px;
  margin-bottom: 1%;
  transition: 0.3s;
  flex-basis: 25%;
  font-size: 16px;
  border-radius: 15px;
}


.existing-model-selection:hover{
  border: #0059bf outset 5px;
  width: 15%;
  margin-right: 0.7%;
  margin-left: 0.7%;
  background-color: #1f1f1f;
}


.date-container{
  width: 50%;
  height: 60px;
}

.date-container p{
  opacity: 0.8;
  color: white;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}


.date-text{
  color: white;
  text-decoration: underline;
}
  
  .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
  }